* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --barlow: "Barlow", sans-serif;
  --francis: "Fraunces", serif;
}
body {
  font-size: 18px;
  font-family: var(--barlow);
}
html{
    scroll-behavior: smooth;
}
.nav {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  position: absolute;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: flex-end;
  align-items: baseline;
  text-transform: capitalize;
  font-size: small;
  cursor: pointer;
}
.nav-list li {
  padding: 0 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.contact{
  font-family: var(--francis);
  font-weight: 700;
  background-color: white;
  color: hsl(212, 27%, 19%) !important;
  text-transform: uppercase;
  padding: 15px 30px !important;
  border-radius: 40px;
  transition: all 0.4s ease;
}
.contact:hover{
    color: white !important;
    background-color: #85d5fd;
    letter-spacing: 3px;
}
.burger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  .small-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .nav {
    flex-direction: column;
  }
  .nav-list {
    display: none;
  }
  .nav-list li {
    margin: 30px 0;
  }
  .nav-list li a{
    color: hsl(212, 27%, 19%)   
  }
  .contact {
    background-color: hsl(51, 100%, 49%);
  }
  .toggle {
    display: flex;
    position: absolute;
    margin: 60px 0 0 0;
    background-color: white;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(212, 27%, 19%);
  }
}
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-image: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.homepage h1 {
  font-family: var(--francis);
  color: white;
  font-size: 45px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 180px 60px 30px 60px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .homepage h1 {
    font-size: 35px;
    margin: 150px 60px 30px 60px;
  }
}

.transform-sec {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-row: 75vh;
  grid-template-areas: "trans-text trans-img";
  width: 100%;
}
.trans-text {
  grid-area: trans-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  justify-self: center;
}
.trans-text h1,
.standout-text h1 {
  font-size: 2.5rem;
  font-family: var(--francis);
  margin: 20px 20px;
  text-transform: capitalize;
  color: hsl(212, 27%, 19%);
}
.trans-text p,
.standout-text p {
  color: hsl(232, 10%, 55%);
  margin: 20px 20px;
}
.trans-text h2,
.standout-text h2 {
  color: hsl(212, 27%, 19%);
  margin: 20px 20px;
  font-family: var(--francis);
  font-size: medium;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.trans-text h2:hover{
    text-decoration: underline solid hsl(51, 100%, 49%) 5px;
}
.standout-text h2:hover{
    text-decoration: underline solid hsl(7, 99%, 70%) 5px;
}
.trans-img {
  grid-area: trans-img;
  width: 100%;
}

.trans-img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .transform-sec {
    grid-template-columns: 1fr;
    grid-row: 50vh 75vh;
    grid-template-areas:
      "trans-img"
      "trans-text";
  }
  .trans-text {
    text-align: center;
    width: 100%;
    align-items: center;
    height: 75vh;
  }
}

.standout {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-row: 75vh;
  grid-template-areas: "standout-img standout-text";
  width: 100%;
}

.standout-img {
  grid-area: standout-img;
  width: 100%;
}
.standout-img img {
  width: 100%;
  height: 100%;
}
.standout-text {
  grid-area: standout-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  justify-self: center;
}

@media screen and (max-width: 600px) {
  .standout {
    grid-template-columns: 1fr;
    grid-row: 50vh 75vh;
    grid-template-areas:
      "standout-img"
      "standout-text";
  }
  .standout-text {
    text-align: center;
    width: 100%;
    align-items: center;
    height: 75vh;
  }
}

.page-3 {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 75vh;
  grid-template-areas: "grephite photo";
}
.grephite {
  grid-area: grephite;
  background-image: url(./images/desktop/image-graphic-design.jpg);
  color: hsl(167, 40%, 24%);
}
.photo {
  grid-area: photo;
  background-image: url(./images/desktop/image-photography.jpg);
  color: hsl(198, 62%, 26%);
}
.photo,
.grephite {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  padding: 20px 0;
}
.photo h2,
.grephite h2 {
  font-family: var(--francis);
  width: 60%;
  padding: 10px 0;
  font-weight: 900;
  text-transform: capitalize;
}
.photo p,
.grephite p {
  width: 50%;
  padding: 10px 0;
  font-size: 15px;
}
@media screen and (max-width: 650px) {
  .page-3 {
    grid-template-columns: 1fr;
    grid-template-rows: 75vh 75vh;
    grid-template-areas: "grephite"
    "photo";
  }
  .photo h2, .grephite h2, .photo p, .grephite p {
      width: 90%;
  }
}

.page-4{
    display: grid;
    grid-template-columns: 0.05fr 0.3fr 0.3fr 0.3fr 0.05fr;
    grid-template-rows: 15vh 10vh 60vh 15vh;
    grid-template-areas: ". . . . ."
    "test-title test-title test-title test-title test-title"
    ". test-1 test-2 test-3 ."
    ". . . . .";
}
.test-title{
    grid-area: test-title;
    display: flex;
    align-items: flex-start;
    letter-spacing: 5px;
    text-transform: uppercase;
    justify-content: center;
    color: hsl(210, 4%, 67%);
    font-family: var(--francis);
    font-size: 20px;
    text-align: center;
}
.test-1, .test-2, .test-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.test-1{
    grid-area: test-1;
}
.test-2{ 
    grid-area: test-2;
}
.test-3{
    grid-area: test-3;
}
.test-1 img, .test-2 img, .test-3 img{
    border-radius: 50%;
    width: 20%;
}
.test-1 p, .test-2 p, .test-3 p{
    font-size: 16px;
    width: 80%;
    text-align: center;
    line-height: 25px;
    color: hsl(232, 10%, 55%);
}
.test-1 div, .test-2 div, .test-3 div{
    text-align: center;
    font-size: 13px;
    line-height: 40px;
}
.test-1 div h2, .test-2 div h2, .test-3 div h2{
    font-family: var(--francis);
    color: hsl(212, 27%, 19%);
    font-weight: 900;
}
.test-1 div h3, .test-2 div h3, .test-3 div h3{
    color: hsl(210, 4%, 67%);
}
@media screen and (max-width: 650px) {
    .page-4{
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 70vh 70vh 70vh;
        grid-template-areas: "test-title"
        "test-1"
        "test-2"
        "test-3";
    }
    .test-title{
        align-items: center;
        font-size: 15px;
    }
}

.page-5{
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-rows: 60vh 40vh;
    grid-template-areas: "img-1 img-2 img-3 img-4"
    "footer footer footer footer";
}
.img-1 img, .img-2 img, .img-3 img, .img-4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-1{
    grid-area: img-1;
}
.img-2{
    grid-area: img-2;
}
.img-3{
    grid-area: img-3;
}
.img-4{
    grid-area: img-4;
}
.footer{
    grid-area: footer;
    background-color: #88d1c2;
    color: hsl(168, 34%, 41%);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
.footer .head-icons{
    display: flex;
    width: 30%;
    height: 10vh;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
    text-transform: capitalize;
}
.footer .head-icons h2, .footer .social-icons svg{
    cursor: pointer;
}
.footer .head-icons h2 a{
  text-decoration: none;
  transition: all 0.4s ease-in;
  color: #2C7566;
}
.footer .head-icons h2 a:hover{
    color: white;
}
.footer .social-icons{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    fill: #2C7566;
}
.footer .social-icons svg:hover{
    fill: white;
}

@media screen and (max-width: 765px) {
    .page-5{
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 50vh 50vh 60vh;
        grid-template-areas: "img-1 img-2"
        "img-3 img-4"
        "footer footer";
    }
    .footer .head-icons{
        display: flex;
        width: 80%;
        height: 10vh;
    }
    .footer .social-icons{
        width: 50%;
    }
}